<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{%static '/css/style-about.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat&display=swap" rel="stylesheet">
	<title>СВД: О нас</title>
	<link rel="shortcut icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon">
</head>
<body>

	<header class="header">
		<div class="container">
			<div class="header__inner"> 
			<a class="logo" href='index.html'><img src="{%static '/images/logo.png'%}" width="300px" height="150px" alt="СВД"></a>

				<nav class="nav">
					<a class="present" href="about.html">о нас</a>
					<a class="navigate" href="items.html">продукция</a>
					<a class="navigate" href="portfolio.html">портфолио</a>
					<a class="navigate" href="contact.html">контакты</a>
				</nav>
			</div>
		</div>
	</header>
	<div class="intro">
		<div class="container">
			<div class="intro_inner">
				<h2 class="intro_title">«СВД»</h2>

				<h4 class="intro_title2"><p><b class="text_bold">Кто Мы?</b> -  мы команда профессионалов, деятельность которой нацелена на предоставление качественных услуг в проектировании и монтаже систем охраны, видеонаблюдения и контроля доступа.</p></h4>

				<h4 class="intro_title2"><p><b class="text_bold">Наши преимущества:</b> 
					<ul>
						<li>Комфортно</li> 
						<li>Надежно</li> 
						<li>Быстро</li> 
						<li>Выгодно</li>
					</ul>
				</p></h4>

				<h4 class="intro_title2"><p><b class="text_bold">Где мы работаем?</b> – г. Измаил. Однако сферу деятельности так же расширяем по всей Бессарабии.</p></h4>

				<h4 class="intro_title2"><p><b class="text_bold">Почему работать с нами выгодно каждому?</b> – оптимальные цены, широкий ассортимент, ответственность, четко сформулированная гарантийная политика, быстрые сроки поставки товара. Основная наша цель – взаимовыгодность условий. Именно поэтому, приобретая у нас продукт, Вы получаете оптимальность условий, сочетаемую с высокой надежностью.</p></h4>
				
				<p class="about_work">Как мы работаем</p>

				<div class="about">
						<div class="about_item">
							<img src="{%static '/images/about/callus.png'%}" width="120px" height="120px"alt="Call us" >
							<p class="about_comment">Вы связываетесь с нами</p>
						</div>
						<div class="about_item">
							<img src="{%static '/images/about/arrow.png'%}" width="30px" height="50px"alt="Arrow">
						</div>
						<div class="abot_item">
							<img src="{%static '/images/about/car.png'%}" width="180px" height="120px"alt="Car">
							<p class="about_comment">Мы выезжаем на замер</p>
						</div>
						<div class="about_item">
							<img src="{%static '/images/about/arrow.png'%}" width="30px" height="50px"alt="Arrow">
						</div>
						<div class="abot_item">
							<img src="{%static '/images/about/list.png'%}" width="100px" height="120px"alt="List">
							<p class="about_comment">Составляем смету</p>
						</div>
						<div class="about_item">
							<img src="{%static '/images/about/arrow.png'%}" width="30px" height="50px"alt="Arrow">
						</div>
						<div class="abot_item">
							<img src="{%static '/images/about/tools.png'%}" width="110px" height="120px"alt="Tools">
							<p class="about_comment">Проводим монтаж</p>
						</div>
						<div class="about_item">
							<img src="{%static '/images/about/arrow.png'%}" width="30px" height="50px"alt="Arrow">
						</div>
						<div class="abot_item">
							<img src="{%static '/images/about/hands.png'%}" width="110px" height="120px"alt="Hands">
							<p class="about_comment">Гарантия и обслуживание</p>
						</div>
				</div>

				<a class="btn" href="items.html">дальше</a>
		</div>
	</div>
</body>
</html>