<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{%static '/css/style-contact.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat&display=swap" rel="stylesheet">
	<title>СВД: Контакты</title>
	<link rel="shortcut icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon">
</head>
<body>

	<header class="header">
		<div class="container">
			<div class="header__inner"> 
			<a class="logo" href='index.html'><img src="{%static '/images/logo.png'%}" width="300px" height="150px" alt="СВД"></a>

				<nav class="nav">
					<a class="navigate" href="about.html">о нас</a>
					<a class="navigate" href="items.html">продукция</a>
					<a class="navigate" href="portfolio.html">портфолио</a>
					<a class="present" href="contact.html">контакты</a>
				</nav>
			</div>
		</div>
	</header>
	<div class="intro">
		<div class="container">
			<div class="intro_inner">
				<h2 class="intro_title">Связаться с нами</h1>
				<hr>
				<h4 class="intro_title2">Одесская обл., г. Измаил, пр-т Мира 2, 68601</h4>
				
				<a class="map" href="https://www.google.com/maps/place/просп.+Мира,+2,+Измаил,+Одесская+область,+68600/@45.3583899,28.8132931,17z/data=!3m1!4b1!4m5!3m4!1s0x40b76f48c0ecac65:0x2e39fc94a84e7c1!8m2!3d45.3583899!4d28.8154818" target="_blank"><img src="{%static '/images/contact/map.png'%}"></a>
				
				<div class="intro_title3">Телефон:
					<ul><li>+38(097)000-60-20</li>
				</ul></div>

				<hr>
				<div class="contact">
					<a class="contact_item" href="tel:+380970006020" target="_blank"><img src="{%static '/images/contact/phone.png'%}" width="120px" height="120px"alt="Phone" ></a>
					<a class="contact_item" href="tg://resolve?domain=@380970006020" target="_blank"><img src="{%static '/images/contact/telegram.png'%}" width="120px" height="120px"alt="telegram" ></a>
					<a class="contact_item" href="viber://add?number=380970006020" target="_blank"><img src="{%static '/images/contact/viber.png'%}" width="120px" height="120px"alt="Viber" ></a>
					<a class="contact_item" href="https://www.facebook.com/svd.izmail" target="_blank"><img src="{%static '/images/contact/facebook.png'%}" width="120px" height="120px"alt="Facebook" ></a>
					<a class="contact_item" href="https://instagram.com/svd_official_izm/" target="_blank"><img src="{%static '/images/contact/instagram.png'%}" width="120px" height="120px"alt="Instagram" ></a>
				</div>
				<a class="by" href="mailto:zlatoff.e@gmail.com">Created by Evgeniy Zlatov</a>
		</div>
	</div>
</body>

</html>