<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="assets/css/style-items.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat&display=swap" rel="stylesheet">
	<title>СВД: Продукция</title>
</head>
<body>

	<header class="header">
		<div class="container">
			<div class="header__inner"> 
			<a class="logo" href='index.html'><img src="assets/images/logo.png" width="300px" height="150px" alt="СВД"></a>

				<nav class="nav">
					<a class="navigate" href="about.html">о нас</a>
					<a class="present" href="items.html">продукция</a>
					<a class="navigate" href="portfolio.html">портфолио</a>
					<a class="navigate" href="contact.html">контакты</a>
				</nav>
			</div>
		</div>
	</header>
	<div class="intro">
		<div class="container">
			<div class="intro_inner">
				<h1 class="intro_title">Продукция</h1>

				<h2 class="inro_title_sec">Мы предлагаем охранное оборудование таких ведущих производителей как: Dahua, Hikvision, Mikrotik, Huawei, Tenda, Telco, Qualvision,  Arny, Окко, Лунь, Comax, Cyfral, Neolight, TP-Link, TiPac, а так же возможен заказ других моделей по желанию клиента.</h2>
				
				<hr>

				<h2 class="inro_title_sec">Наша команда не привязана только к перечисленным брендам. Именно поэтому каждому клиенту мы можем порекомендовать наиболее оптимальное решение по его потребностям и возможностям. </h2>

				<hr>

				<h2 class="inro_title_sec">Наш основной принцип в работе с заказчиком — качественная работа и доверие. Каждый заказ выполняется по индивидуальной схеме, что позволяет нам не только сохранять старых клиентов, но и постоянно приобретать новых. </h2>

				<div class="partners">
					<div class="partner"><img src="assets/images/partners/dahua.png" width="150px" height="50px"alt="Dahua" ></div>
					<div class="partner"><img src="assets/images/partners/hikvision.png" width="150px" height="50px"alt="Hikvision" ></div>
					<div class="partner"><img src="assets/images/partners/mikrotik.png" width="150px" height="50px"alt="Mikrotik" ></div>
					<div class="partner"><img src="assets/images/partners/qualvision.png" width="150px" height="50px"alt="Qualvision" ></div>
					<div class="partner"><img src="assets/images/partners/huawei.png" width="150px" height="50px"alt="Huawei" ></div>
				</div>

				
				<div class="btn_position"><a class="btn" href="portfolio.html">дальше</a></div>
		</div>
	</div>
</body>
</html>